<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>the shop</title>
</head>
<body>
    <p>in the shop you can find anything you want to buy because this shop is the best, unless we run out of the item you can't actually buy it, and also there might be some items that we don't sell because we don't actually sell everything, but other than that my shop is the best</p>
    
    <div class="row">
        <div class="column">
            <img src="../static/mug.jpeg" width="300px">
        </div>
        <div class="column">
            <img src="../static/thats-what-she-said.jpg" width="300px">
        </div>
    </div>

</body>
</html>